<!DOCTYPE html>
<html>
  <head>
    <title>Wander</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="background-image">
    <div class="">
      <%= link_to "View all playlists", playlists_path%>
    </div>
  </body>
</html>
