<% if user_signed_in? && @playlist.user == current_user  %>
  <div class="well">
    <h1>Edit song</h1>

    <%= @song.errors.full_messages.first if @song.errors.any? %>

    <%= render "edit_form" %>
  </div>
<% end %>
