<% if user_signed_in? && @playlist.user == current_user %>
  <div class="well">
    <h1>Add a new song</h1>

    <%= @song.errors.full_messages.first if @song.errors.any? %>

    <%= render "new_form" %>
  </div>
<% end %>
